*{
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    line-height: 2.0;
    text-align: justify;
    font-size: 15px;
}
header{
    background-color: #D4CCE6;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: center;
}
footer{
    background-color: #E7D3DD;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.banner1{
    margin-bottom: 50px;
}
.banner2{
    margin-top: 50px;
}
body p{
    padding-top: 10px;
    padding-bottom: 10px;
}
